#container
{
  padding: 16px;
}
li 
{
margin-bottom: 8px;
}
.delete-button 
{
margin-left: 16px;
}

.container2
{
  width: 50%;
  padding: 1ch;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  margin: auto;
}

label, input, form
{
  width: 250px;
  height: 20px;
}
#signin, #linkki
{
  text-align: center;
}


